
use_env_variable=DEVELOPMENT
BROCHURE_SERVICE_URL=

[development]
DEVELOPMENT_DB_NAME=
DEVELOPMENT_DB_USER_NAME=
DEVELOPMENT_DB_PASSWORD=
DEVELOPMENT_DB_HOST=
DEVELOPMENT_DB_PORT=
DEVELOPMENT_DB_DIALECT=
DEVELOPMENT_DB_LOGGING=
DEVELOPMENT_BROCHURE_SERVICE_URL=
DEVELOPMENT_CMS_PORT=

[docker]
DOCKER_DB_NAME=
DOCKER_DB_USER_NAME=
DOCKER_DB_PASSWORD=
DOCKER_DB_HOST=
DOCKER_DB_PORT=
DOCKER_DB_DIALECT=
DOCKER_DB_LOGGING=
DOCKER_BROCHURE_SERVICE_URL=
DOCKER_CMS_PORT=


[production]
PROD_DB_NAME=
PROD_DB_USER_NAME=
PROD_DB_PASSWORD=
PROD_DB_HOST=
PROD_DB_DIALECT=
PROD_DB_LOGGING=
PROD_BROCHURE_SERVICE_URL=
PROD_CMS_PORT